// COLORS
$white: #fff;
$medium-gray: #777;
$light-gray: #f0f0f0;
$black: #302f2d;
$dark-purple: #53479d;
$medium-purple: #726ab5;
$light-purple: #8c8bc7;
$blue: #1e73be;
$pink: #fcbcfe;

// LAYOUT
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;

$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 1.5rem;
